/* Estilos base */
.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardImage {
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

/* Reglas de Media Query */
@media screen and (min-width: 480px) {
  .cart {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    z-index: 999; /* Asegura que el carrito esté sobre la sección de favoritos */
  }

  .favorites {
    position: fixed;
    top: 20px;
    left: 20px; /* Alinea la sección de favoritos a la izquierda */
    width: 300px;
    z-index: 998; /* Z-index menor para que esté detrás del carrito */
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que los botones estén sobre el carrito y los favoritos */
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que los botones estén sobre el carrito y los favoritos */
  }
}

/* Estilos adicionales */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4b7bec;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3853a2;
}
